[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

pandas = "*"
requests = "*"
shapely = "*"
geopy = "*"
pyproj = "*"
pymssql = "*"


[requires]

python_version = "3.5"
